<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <title>
      My Traffic Summary
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">
    <link href="../assets/css/toolkit-inverse.css" rel="stylesheet">
    <link href="../assets/css/application.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

    <style>
      /* note: this is a hack for ios iframe for bootstrap themes shopify page */
      /* this chunk of css is not part of the toolkit :) */
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
    </style>
  </head>


<body ng-app="app" ng-controller="mainController">

<!-- Left navigation menu -->
<div class="aou">
  <nav class="ch">
    <a class="aov" href="../index.html">
      <span class="bv act aow"></span>
    </a>
    <div class="aoz">
      <ul class="nav of aox">
        <li class="active">
          <a href="../index.html" title="Summary" data-toggle="tooltip" data-placement="right" data-container="body">
            <i class="fa fa-pie-chart fa-lg"></i>
            <small class="aoy sa">Summary</small>
          </a>
        </li>
        <li >
          <a href="../docs/index.html" title="Explore" data-toggle="tooltip" data-placement="right" data-container="body">
            <i class="fa fa-globe fa-lg"></i>
            <small class="aoy sa">Explore</small>
          </a>
        </li>
        <li>
          <a href="#" title="Signed in as Sherry" data-toggle="tooltip" data-placement="right" data-container="body">
            <img src="../assets/img/btswt.jpg" alt="" class="cs cn">
            <small class="aoy sa">Sherry</small>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="bw">
    <div class="apa">
      <div class="apb">
        <h3 class="apc">{{title}}</h3>
        <label for="indoorSelect" class ="apd"> Indoor Sensor ID: </label>
        <select name="indoorSelect" class="form-control"
        id="indoorSelect"
        ng-options="o as o for o in available_sensors"
        ng-model="search_params.indoor_sensor">
        </select><br>
        <!-- <tt>option = {{search_params.indoor_sensor}}</tt><br/> -->

        <label for="outdoorSelect" class ="apd"> Outdoor Sensor ID: </label>
        <select name="outdoorSelect" class="form-control"
        id="outdoorSelect"
        ng-options="o as o for o in available_sensors"
        ng-model="search_params.outdoor_sensor">
        </select><br>
        <!-- <tt>option = {{search_params.outdoor_sensor}}</tt><br/> -->
      </div>

      <div class="ape">
        <div class="aol apg">
          <input ng-model="search_params.dt" type="text" class="form-control" data-provide="datepicker">
          <span class="bv">
            <i class="fa fa-calendar-check-o"></i>
          </span>
        </div>
      </div>
    </div>

    <ul class="nav tr aky akt" role="tablist">
      <li class="active" role="presentation">
        <a href="#sales" role="tab" data-toggle="tab" aria-controls="sales">Daily Breakdown</a>
      </li>
      <li role="presentation">
        <a href="#traffic" role="tab" data-toggle="tab" aria-controls="traffic">Overview</a>
      </li>
    </ul>

    <hr class="akr alp">

    <div class="oh">
      <div role="tabpanel" class="oi" id="traffic">
        <div class="fu db alg">
          <div class="gi ali">
            <div class="ako ale">
              <canvas
                class="ant"
                width="200" height="200"
                data-chart="doughnut"
                data-value="[{ value: 230, color: '#42a5f5', label: 'Returning' }, { value: 130, color: '#1bc98e', label: 'New' }]"
                data-segment-stroke-color="#222">
              </canvas>
            </div>
            <strong class="dh">Average Daily Traffic</strong>
            <h2>{{daily_total}}</h2>
          </div>
          <div class="gi ali">
            <div class="ako ale">
              <canvas
                class="ant"
                width="200" height="200"
                data-chart="doughnut"
                data-value="[{ value: 330, color: '#42a5f5', label: 'Recurring' }, { value: 30, color: '#1bc98e', label: 'New' }]"
                data-segment-stroke-color="#222">
              </canvas>
            </div>
            <strong class="dh">Revenue</strong>
            <h3>New vs Recurring</h3>
          </div>
          <div class="gi ali">
            <div class="ako ale">
              <canvas
                class="ant"
                width="200" height="200"
                data-chart="doughnut"
                data-value="[{ value: 100, color: '#42a5f5', label: 'Referrals' }, { value: 260, color: '#1bc98e', label: 'Direct' }]"
                data-segment-stroke-color="#222">
              </canvas>
            </div>
            <strong class="dh">Traffic</strong>
            <h3>Direct vs Referrals</h3>
          </div>
        </div>
      </div>


      <!-- TIME SERIES CHART -->
      <div role="tabpanel" class="oi active" id="sales">
        <div class="aqo ali" ng-hide="has_data">
          <center><strong class ="dh"> No Data</strong></center>
        </div>
        <div class="aqo ali" ng-show="has_data">
          <strong class="dh">Outdoor Traffic</strong>
          <canvas
            class="chart chart-bar"
            chart-data="ts_chart_dataset"
            chart-labels="ts_chart_labels"
            height="80"
            chart-hover = "false"
            chart-options = "chart_options"
            chart-colours = ['#AEEFFF']
            chart-legend="false">
          </canvas>
        </div>
      </div>
    </div>


    <!-- QUICK STATS -->
    <div class="anv aky ala">
      <h3 class="anw anx">Quick daily stats</h3>
    </div>

    <div class="fu apt alg ala ta te">
      <div class="gp ge apu ala">
        <h3 class="ani dj">
          {{daily_total | number}}
        </h3>
        <span class="anj">Total Traffic</span>
      </div>
      <div class="gp ge apu ala">
        <h3 class="ani dj">
          8am - 10am
        </h3>
        <span class="anj">Busiest Hour</span>
      </div>
      <div class="gp ge apu ala">
        <h3 class="ani dj">
          Thursday
        </h3>
        <span class="anj">Busiest Day</span>
      </div>
      <div class="gp ge apu ala">
        <h3 class="ani dm">
          758
        </h3>
        <span class="anj">Downloads</span>
      </div>
    </div>

    <hr class="akr ali">
  </div>
</div>


    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/tablesorter.min.js"></script>
    <script src="../assets/js/toolkit.js"></script>
    <script src="../assets/js/application.js"></script>
    <script src="bower_components/Chart.js/Chart.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.min.js"></script>

    <script>
      // execute/clear BS loaders for docs
      $(function(){while(window.BS&&window.BS.loader&&window.BS.loader.length){(window.BS.loader.pop())()}})

      Array.prototype.isNull = function (){
        return this.join().replace(/,/g,'').length === 0;
      };

      var app = angular.module('app', ['chart.js']);
      app.controller('mainController', ['$scope', '$http', function($scope, $http){

        // Page title
        $scope.title = 'My Traffic Summary';

        // Select indoor and outdoor sensor ID dropdowns
        $scope.available_sensors = [
          'sbx_i_0001',
          'sbx_f_0001'
        ];

        // Indicate if data available for selected date
        $scope.has_data = false;

        // TS chart
        $scope.ts_chart_dataset = [];
        $scope.ts_chart_labels = [];
        $scope.chart_options = {'barValueSpacing': 5};

        // Summary Stats
        $scope.daily_total = 0;

        // Format selected date into calendar dropdown format
        var format = d3.time.format("%m-%d-%Y");
        $scope.dt = format(new Date());

        $scope.search_params = {
          'dt': format(new Date()),
          'indoor_sensor': 'sbx_i_0001',
          'outdoor_sensor': 'sbx_f_0001'
        }

        // TS chart Query
        $scope.$watch('search_params', function(newVal, oldVal){
          console.log(newVal);
          var query_dt = d3.time.format("%Y-%m-%d")(new Date(newVal.dt));
          $scope.query = encodeURIComponent(
          "SELECT sum(counter) FROM hourly_counter_db..hourly_counter WHERE sensor='"+ newVal.indoor_sensor +"' and time >= '" + query_dt + "' and time <= '" + query_dt + "' + 1d GROUP BY time(30m)");
          //console.log($scope.query);
          $http({
               method: 'GET',
               url: 'http://24.14.64.152:8086/query?pretty=true&db=hourly_counter_db&q=' + $scope.query
             }).then(function successCallback(response) {
                 // this callback will be called asynchronously
                 // when the response is available
                 response.data.results.forEach(function(resp){
                    if('series' in resp){
                      var name = resp.series[0].name;
                      var cols = resp.series[0].col;
                      var values = resp.series[0].values;
                      var labels = [];
                      var series_data = [];

                      values.forEach(function(elm){
                        // labels.push("");
                        var timestamp = elm[0].slice(11, 16)
                        labels.push(timestamp);
                        series_data.push(elm[1]);
                      });
                      //console.log(series_data)

                      var i = series_data.length;
                      while(series_data[series_data.length-1] === null){
                        series_data.pop();
                        labels.pop();
                      }
                      $scope.ts_chart_labels = labels;
                      $scope.ts_chart_dataset = [series_data];

                      // Destroy existing chart to avoid displaying old data on hover
                      var $chart;
                      $scope.$on("create", function (event, chart) {
                        if (typeof $chart !== "undefined") {
                          $chart.destroy();
                        }
                        $chart = chart;
                      });
                      if (series_data.isNull()){
                        $scope.has_data = false;
                      } else {
                        $scope.has_data = true;
                      }
                    } else{
                      $scope.has_data = false;
                    }

                    if ($scope.has_data === true) {
                      var query_dt = d3.time.format("%Y-%m-%d")(new Date(newVal));
                      $scope.query = encodeURIComponent(
                      "SELECT sum(counter) FROM hourly_counter_db..hourly_counter WHERE sensor='" + newVal.indoor_sensor + "' and time >= '" + query_dt + "' and time <= '" + query_dt + "' + 1d");
                      $http({
                           method: 'GET',
                           url: 'http://24.14.64.152:8086/query?pretty=true&db=hourly_counter_db&q=' + $scope.query
                         }).then(function successCallback(response) {
                             // this callback will be called asynchronously
                             // when the response is available
                             response.data.results.forEach(function(resp){
                                $scope.daily_total = resp.series[0].values[0][1];
                             });
                         }, function errorCallback(response) {
                             // called asynchronously if an error occurs
                        });
                    } else {
                      $scope.daily_total = 0;
                    }; // End if

                 });
             }, function errorCallback(response) {
                 // called asynchronously if an error occurs
            });
        }, true);// End watch scope

      }]);
    </script>
  </body>
</html>

